@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,500i,700|Oswald');
body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

.portada {
    background-image: url('../images/Dalmatian_Samba.jpg');
    margin-top: 24px ;
}

.white{
    color: white;
}

.titulo{
    text-align: center;
}

td {
    padding: 30px;
    
}

table{
    margin-left: 150px;
    margin-right: 150px;
}

hr{
    border-width: 3px;
    width: 800px;
}
